@import '../../../node_modules/reveal.js/dist/reveal.css';
@import "../../../node_modules/reveal.js/css/theme/template/mixins";
@import "../../../node_modules/reveal.js/css/theme/template/settings";

$backgroundColor: #000;

$mainColor: #000;
$headingColor: #000;

$mainFontSize: 36px;
$mainFont: Montserrat, Verdana, Arial, sans-serif;
$headingFont: Montserrat, Verdana, Arial, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #2e3191;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 1.5em;
$heading2Size: 1.3em;
$heading3Size: 1.1em;
$heading4Size: 1.0em;

rpc-slides,
.theme {
  display: block;
  height: 100vh;
  width: 100%;
}

.theme-default {
  $heading1Size: 2em;
  @import "../../../node_modules/reveal.js/css/theme/template/theme";
  @import "./themes/default";
}

.theme-squares {
  $mainFontSize: 30px;
  $headingTextTransform: uppercase;
  @import "../../../node_modules/reveal.js/css/theme/template/theme";
  @import "./themes/squares";
}
