rpc-presenter {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  justify-content: center;
  text-align: left;
  .identity {
    .name {
      font-weight: bold;
    }
    .name::after {
      content: ', ';
    }
  }
  .event {
    .name::after {
      content: ', ';
    }
  }
}
.reveal rpc-presenter .logo-simple img {
  display: block;
  margin: 0 1em 0 0;
  width: 150px;
}