.reveal {
  .slides > section,
  .slides > section > section {
    box-sizing: border-box;
    padding: 20px;
  }
  h1 {
    font-weight: 200;
  }
  h1 + h2 {
    font-size: 1.1em;
  }
  rpc-presenter {
    margin-top: 2em;
  }
}
